body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}

.head {
  float: left;
  width: 69.6%;
  height: 88px;
  margin: 17px 0 0 15.19921875%;
  background-color: rgb(21, 2, 2);
}

.input {
  position: relative;
  float: left;
  z-index: 2;
  width: 49.25%;
  height: 115px;
  margin-left: 0.015625%;
}

.map {
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  width: 49.25%;
  height: 365px;
  margin: -365px 0 0 35.5833333333%;
}

.side {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 20.4166666666%;
  height: 480px;
  margin-left: 15.1666666666%;
}